*synth.v
*synth_attr.v
.DS_Store
*.vcd
build/
obj_dir/
*flops.csv
fusesoc_libraries/
*.png
*.conf
*.hex
NanGate_15nm_*
data/
__pycache__/
target/
*.swp
faulting_flops.txt
fault_scenarios.json
interesting_flops.txt
*fault_scenarios*
*synth*
output.txt
*results_cache*
venv/
results*/
fault_scenarios*.json
circuit_out.json
*.pdf
dump_vcdtrace.json
